/* shared stylesheet for ball game */

body {
	background-color:#ffffff;
}




.button {
    background: #ff0000;
	border-radius: 10%;	
    color: #FFFFFF;
    display: inline-block;
    font-family: sans-serif;
    padding: 4px 15px 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

div#ball {
	width:60px;height:60px;
	border-radius:30px;
	background:#000
}