/* shared stylesheet for ball game */

body {
	background-color:#ff0000;
}


a.orange-button, button.orange-button, .orange-button {
    background: -moz-linear-gradient(center top , #FF9147 0%, #FF8B3D 50%, #F58025 51%, #FE741F 100%) repeat scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    display: inline-block;
    font: 13px 'DINFamilyMedium',sans-serif;
    padding: 4px 15px 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}