/* shared stylesheet for ball game */

body {
	background-color:#ffffff;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.button, .message, #heading, #playpause {
    background: #ff0000;
	border-radius: 10%;	
    color: #FFFFFF;
    display: inline-block;
    font-family: sans-serif;
    padding: 4px 15px 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.title {
	position: absolute;
    top: 45%;
    left: 33%;
}

.message {
	display: none;
}

div#ball {
	width:30px;height:30px;
	border-radius:15px;
	background:#606060;
}

div#goal {
	width:36px;height:36px;
	border-radius:18px;
	background:#000;
    position: fixed;
    right: 0;
	z-index:-1;
}


/* for obstacles - unused */
div#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div.wood {
	background: #8B4513;
	height:20%;
}

div.gap {
	width: 100%;
	height: 20px;
}

div#w1 {
	width: 40%;
}

div#w2 {
	width: 80%;
}

div#w3 {
	width: 80%;
}

